<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pipeline as Code</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="container">
		<div class="login">
			<h1 class="login-heading">
				<strong>Welcome.</strong> Please login.
			</h1>
			<form method="post">
				<input type="text" 
					name="user" 
					placeholder="Username"
					required="required" 
					class="input-txt" /> 
				
				<input type="password" 
					name="password" 
					placeholder="Password" 
					required="required" 
					class="input-txt" />
				
				<div class="login-footer">
					<button type="submit" class="btn btn--right">Sign in</button>
				</div>
			</form>
		</div>
	</div>
	<script src="js/index.js"></script>
</body>
</html>
